@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Hoefler Text", "Baskerville old face", Garamond, Georgia, "Times New Roman", serif; }

body {
  border-top: solid 8px #222;
  background-color: #f5f5f5; }

.header-wrap .header {
  margin-bottom: 2.5em; }
  @media screen and (max-width: 560px) {
    .header-wrap .header {
      margin-bottom: 1em; } }
  .header-wrap .header .site-title-wrap {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: center;
    margin: 0; }
    .header-wrap .header .site-title-wrap a .logo-wrap .logo {
      vertical-align: center; }
    @media screen and (max-width: 560px) {
      .header-wrap .header .site-title-wrap {
        background: #222;
        background: #222;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiMyMjIyMjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MjFmNTMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(33%, #222222), color-stop(100%, #421f53));
        background: -moz-linear-gradient(#222222 33%, #421f53);
        background: -webkit-linear-gradient(#222222 33%, #421f53);
        background: linear-gradient(#222222 33%, #421f53); } }
    .header-wrap .header .site-title-wrap .logo-background {
      display: block;
      background: #222;
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiMyMjIyMjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MjFmNTMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(33%, #222222), color-stop(100%, #421f53));
      background: -moz-linear-gradient(#222222 33%, #421f53);
      background: -webkit-linear-gradient(#222222 33%, #421f53);
      background: linear-gradient(#222222 33%, #421f53);
      padding: 23px; }
      @media screen and (max-width: 560px) {
        .header-wrap .header .site-title-wrap .logo-background {
          padding: 8px;
          background: none; } }
      .header-wrap .header .site-title-wrap .logo-background .logo {
        display: block;
        width: 45px;
        height: 45px; }
        @media screen and (max-width: 560px) {
          .header-wrap .header .site-title-wrap .logo-background .logo {
            width: 35px;
            height: 35px; } }
  .header-wrap .header .nav {
    font-family: "Hoefler Text", "Baskerville old face", Garamond, Georgia, "Times New Roman", serif; }
    .header-wrap .header .nav .nav-items {
      padding: 0;
      margin: 0; }
      .header-wrap .header .nav .nav-items .nav-item {
        font-size: 1.4em; }
        @media screen and (max-width: 560px) {
          .header-wrap .header .nav .nav-items .nav-item {
            font-size: 1.2em; } }
        .header-wrap .header .nav .nav-items .nav-item a {
          color: #9b6dca;
          text-decoration: none;
          border-bottom: solid 5px transparent;
          -moz-transition: border-color 0.3s ease-out;
          -o-transition: border-color 0.3s ease-out;
          -webkit-transition: border-color 0.3s ease-out;
          transition: border-color 0.3s ease-out; }
          .header-wrap .header .nav .nav-items .nav-item a:hover {
            border-bottom-color: #9b6dca;
            -moz-transition: none;
            -o-transition: none;
            -webkit-transition: none;
            transition: none; }
          @media screen and (max-width: 560px) {
            .header-wrap .header .nav .nav-items .nav-item a {
              border-bottom-width: 4px; } }
      .header-wrap .header .nav .nav-items .nav-item.current a {
        color: #222;
        border-bottom: solid 5px #222; }
        @media screen and (max-width: 560px) {
          .header-wrap .header .nav .nav-items .nav-item.current a {
            border-bottom-width: 4px; } }

.article {
  *zoom: 1;
  margin-bottom: 3em;
  font-size: 1.05em; }
  .article:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 560px) {
    .article {
      font-size: .95em; } }
  .article .wp-post-image {
    border: solid 5px #222; }
  .article .entry-title {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 3em;
    line-height: 1;
    font-style: italic;
    margin: 0;
    color: #a0a0a0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); }
    @media screen and (max-width: 560px) {
      .article .entry-title {
        font-size: 2em; } }
  .article .entry-meta {
    color: #a0a0a0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
    @media screen and (max-width: 560px) {
      .article .entry-meta {
        font-size: .85em; } }
    .article .entry-meta .entry-meta-item:after {
      display: inline-block;
      content: " • ";
      color: #cfcfcf;
      margin-left: .8em;
      margin-right: .5em; }
    .article .entry-meta .entry-meta-item:last-child:after {
      display: none; }
  .article .entry-content {
    color: #333; }
    .article .entry-content h2, .article .entry-content h3, .article .entry-content h4, .article .entry-content h5, .article .entry-content h6,
    .article .entry-content p, .article .entry-content pre, .article .entry-content blockquote, .article .entry-content ul, .article .entry-content ol,
    .article .entry-content div.highlight, .article .entry-content hr {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .article .entry-content p, .article .entry-content blockquote, .article .entry-content ul, .article .entry-content ol {
      line-height: 1.5; }
      .article .entry-content p code, .article .entry-content blockquote code, .article .entry-content ul code, .article .entry-content ol code {
        font-family: Menlo, Consolas, "Lucida Console", monospace;
        font-size: 0.85em;
        background: rgba(136, 136, 136, 0.2);
        padding: 0.1em 0.3em;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; }
    .article .entry-content h2, .article .entry-content h3, .article .entry-content h4 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
    .article .entry-content hr {
      border: none; }
      .article .entry-content hr, .article .entry-content hr:before, .article .entry-content hr:after {
        width: 5px;
        height: 5px;
        background: #cfcfcf;
        border-radius: 100%;
        position: relative; }
      .article .entry-content hr:before, .article .entry-content hr:after {
        content: "";
        display: block;
        position: absolute; }
      .article .entry-content hr:before {
        right: 25px; }
      .article .entry-content hr:after {
        left: 25px; }
    .article .entry-content p {
      margin-top: 1.5em;
      margin-bottom: 1.5em; }
    .article .entry-content pre code {
      display: block;
      padding: 0.9em 1.1em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      font-family: Menlo, Consolas, "Lucida Console", monospace;
      font-size: .85em;
      line-height: 1.3;
      overflow: scroll; }
    .article .entry-content a {
      color: #9b6dca;
      border-bottom: dotted 1px #9b6dca;
      text-decoration: none; }
      .article .entry-content a:hover {
        color: #683899;
        border-bottom-style: solid; }
    .article .entry-content small {
      display: block;
      padding: .5em .8em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #e7e7e7;
      color: #666; }

.article img, .page img {
  max-width: 100%; }

.page-footer {
  clear: both;
  padding: 1em 0;
  border-top: solid 1px #cfcfcf;
  color: #888; }
  .page-footer .twitter-handle {
    color: #666;
    text-decoration: none; }

.category-description {
  font-weight: bold;
  font-style: italic;
  line-height: 1.3;
  border-bottom: solid 1px #cfcfcf;
  margin-bottom: 3em; }

body.category-work article {
  margin-bottom: 4.5em; }
  body.category-work article .entry-title {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.6em;
    line-height: 1.1;
    font-style: italic;
    letter-spacing: .1em;
    margin-top: .2em;
    margin-bottom: 0;
    padding: .3em .5em;
    background-color: #222;
    color: white; }
  body.category-work article .entry-livelink {
    display: block;
    float: right;
    margin-top: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    padding: .4em .8em .3em;
    margin-left: 1em;
    margin-bottom: .2em;
    background-color: #9b6dca;
    border-bottom: solid 3px #222; }
    body.category-work article .entry-livelink a {
      text-decoration: none;
      color: white; }
  body.category-work article .entry-excerpt {
    font-size: .85em;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 0 0; }
  body.category-work article .entry-skills {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin-bottom: .7em;
    padding: 0 0; }
  body.category-work article .entry-meta {
    padding: 0 0;
    color: #a0a0a0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
    body.category-work article .entry-meta span {
      margin-right: 1.5em; }

.hidden, .header-wrap .header .site-title-wrap a .site-title {
  position: absolute;
  left: -9999px; }

.page.page-about {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  line-height: 1.5;
  font-size: .9em;
  *zoom: 1; }
  .page.page-about:after {
    content: "";
    display: table;
    clear: both; }
  .page.page-about .portrait-wrap {
    float: right;
    margin: 0 5% 1em 1.5em;
    max-width: 30%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
    @media screen and (max-width: 560px) {
      .page.page-about .portrait-wrap {
        float: none;
        max-width: 200px;
        margin: 0 auto 2em;
        padding-left: 10%;
        padding-right: 10%; } }
    .page.page-about .portrait-wrap .portrait {
      display: block;
      -moz-border-radius: inherit;
      -webkit-border-radius: inherit;
      border-radius: inherit;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: solid 15px #222; }
      @media screen and (max-width: 560px) {
        .page.page-about .portrait-wrap .portrait {
          margin-left: auto;
          margin-right: auto;
          border-width: 10px; } }
  .page.page-about .intro {
    font-size: 1.8em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #222;
    line-height: 1.2; }
    @media screen and (max-width: 560px) {
      .page.page-about .intro {
        font-size: 1.5em; } }
  .page.page-about h2 {
    font-size: 1.5em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #222;
    line-height: 1.2;
    margin-top: 1.4em;
    margin-bottom: 1em; }
    @media screen and (max-width: 560px) {
      .page.page-about h2 {
        font-size: 1.25em; } }
  .page.page-about .hr {
    height: 15px;
    background-color: #222; }
    @media screen and (max-width: 560px) {
      .page.page-about .hr {
        height: 10px; } }
  .page.page-about p {
    margin-top: 0;
    margin-bottom: 2em; }
  .page.page-about p.bio {
    margin-top: 3em;
    margin-bottom: 3em; }
    .page.page-about p.bio:first-letter {
      float: left;
      margin-right: .2em;
      font-family: "Hoefler Text", "Baskerville old face", Garamond, Georgia, "Times New Roman", serif;
      font-size: 2em;
      line-height: 1.2;
      font-weight: bold;
      width: 1.2em;
      height: 1.1em;
      padding-top: .10em;
      text-align: center;
      border: solid 3px #222;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%; }
  @media screen and (min-width: 801px) {
    .page.page-about .skills {
      width: 40%; } }
  .page.page-about .contact {
    *zoom: 1; }
    .page.page-about .contact:after {
      content: "";
      display: table;
      clear: both; }
    .page.page-about .contact p {
      *zoom: 1;
      float: left;
      width: 40%;
      margin-top: 0; }
      .page.page-about .contact p:after {
        content: "";
        display: table;
        clear: both; }
      @media screen and (max-width: 641px) {
        .page.page-about .contact p {
          width: auto;
          float: none; } }
    .page.page-about .contact .links {
      *zoom: 1;
      float: left;
      width: 40%;
      margin-left: 20%; }
      .page.page-about .contact .links:after {
        content: "";
        display: table;
        clear: both; }
      @media screen and (min-width: 1201px) {
        .page.page-about .contact .links {
          clear: left;
          margin-left: 0; } }
      .page.page-about .contact .links a {
        text-decoration: none;
        color: #222;
        border-bottom: solid 3px transparent;
        -moz-transition: border-color 0.3s ease-out;
        -o-transition: border-color 0.3s ease-out;
        -webkit-transition: border-color 0.3s ease-out;
        transition: border-color 0.3s ease-out; }
        .page.page-about .contact .links a:hover {
          border-bottom-color: #222;
          -moz-transition: none;
          -o-transition: none;
          -webkit-transition: none;
          transition: none; }
        .page.page-about .contact .links a:after {
          content: " \BB";
          color: #9b6dca; }
      .page.page-about .contact .links .email {
        font-size: 1.3em; }
      @media screen and (max-width: 641px) {
        .page.page-about .contact .links {
          width: auto;
          float: none;
          margin-left: 0;
          text-align: center; } }

.page.blog-index ul.posts {
  list-style: none;
  padding-left: 0; }
  .page.blog-index ul.posts li.post {
    margin-bottom: 1.5em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
    .page.blog-index ul.posts li.post .meta {
      display: block;
      color: #a0a0a0; }
      .page.blog-index ul.posts li.post .meta .meta-item:after {
        display: inline-block;
        content: " • ";
        color: #cfcfcf;
        margin-left: .8em;
        margin-right: .5em; }
      .page.blog-index ul.posts li.post .meta .meta-item:last-child:after {
        display: none; }
    .page.blog-index ul.posts li.post .permalink {
      display: block;
      margin-bottom: 6px; }
      .page.blog-index ul.posts li.post .permalink a {
        font-size: 2.5em;
        line-height: 1.05;
        font-style: italic;
        font-weight: 600;
        text-decoration: none;
        color: #a0a0a0;
        border-bottom: solid 4px transparent;
        -moz-transition: border-color 0.3s ease-out, color 0.3s ease-out;
        -o-transition: border-color 0.3s ease-out, color 0.3s ease-out;
        -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out;
        transition: border-color 0.3s ease-out, color 0.3s ease-out; }
        .page.blog-index ul.posts li.post .permalink a:hover {
          border-bottom-style: solid;
          border-bottom-color: #9b6dca;
          color: #888;
          -moz-transition: none;
          -o-transition: none;
          -webkit-transition: none;
          transition: none; }
        @media screen and (max-width: 560px) {
          .page.blog-index ul.posts li.post .permalink a {
            font-size: 1.75em; } }

.header-wrap .header {
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%; }
  @media screen and (max-width: 560px) {
    .header-wrap .header {
      margin-left: 16px;
      margin-right: 16px; } }
  @media screen and (max-width: 560px) {
    .header-wrap .header .site-title-wrap {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-left: -16px;
      margin-right: -16px;
      margin-top: -8px;
      line-height: 0; } }
  @media screen and (max-width: 560px) {
    .header-wrap .header .site-title-wrap .logo-wrap {
      display: inline-block;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      line-height: 0; } }
  .header-wrap .header .site-title-wrap .logo-wrap .logo-background {
    margin-left: -20px; }
    @media screen and (max-width: 560px) {
      .header-wrap .header .site-title-wrap .logo-wrap .logo-background {
        margin-left: 0; } }
    .header-wrap .header .site-title-wrap .logo-wrap .logo-background .logo {
      border: none;
      outline: none; }
      @media screen and (max-width: 560px) {
        .header-wrap .header .site-title-wrap .logo-wrap .logo-background .logo {
          display: inline; } }
  .header-wrap .header .nav {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: center; }
    @media screen and (max-width: 560px) {
      .header-wrap .header .nav {
        display: block;
        text-align: center;
        margin-top: 1em; } }
    .header-wrap .header .nav .nav-items {
      padding-top: .8em; }
      @media screen and (max-width: 560px) {
        .header-wrap .header .nav .nav-items {
          padding-top: 0; } }
      .header-wrap .header .nav .nav-items .nav-item {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        vertical-align: center;
        margin-left: 2em;
        margin-bottom: 12px; }
        @media screen and (max-width: 560px) {
          .header-wrap .header .nav .nav-items .nav-item {
            margin-left: .5em;
            margin-right: .5em;
            vertical-align: top; } }
        @media screen and (max-width: 560px) {
          .header-wrap .header .nav .nav-items .nav-item.current {
            margin-bottom: 18px; } }

.page-main {
  padding-bottom: 3em;
  margin-left: 5%;
  margin-right: 5%; }
  @media screen and (max-width: 560px) {
    .page-main {
      margin-left: 16px;
      margin-right: 16px; } }

.page-footer {
  margin-left: 5%;
  margin-right: 5%; }

body.category-work .page-content article .wp-post-image {
  float: right;
  max-width: 50%;
  margin-left: 2em;
  margin-right: 1em;
  margin-top: .3em;
  margin-bottom: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 801px) {
    body.category-work .page-content article .wp-post-image {
      float: none;
      vertical-align: bottom;
      max-width: 100%;
      width: 100%;
      margin: 0; } }
@media screen and (max-width: 801px) {
  body.category-work .page-content article .entry-title {
    margin-top: 0;
    text-align: center; } }
@media screen and (max-width: 560px) {
  body.category-work .page-content article .entry-meta .entry-livelink {
    display: block;
    text-align: center;
    margin-right: 0; }
    body.category-work .page-content article .entry-meta .entry-livelink a {
      display: inline-block;
      padding: .3em .6em;
      color: white;
      background-color: #9b6dca;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; } }
