---
layout: default
title: Blog
---

<div class="page blog-index">
  <ul class="posts">
    {% for post in site.posts %}
      <li class="post">
        <div class="permalink">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </div>
        <div class="meta">
            <span class="meta-item date">
                {% include natural_date date=post.date %}
            </span>
            <span class="meta-item wordcount">
                {% assign post_rendered_content = post.content | markdownify %}
                {% include real_number_of_words content=post_rendered_content %} words
            </span>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>