//**********************************************************
// about page
//**********************************************************

.page.page-about {
  @include center-column;
  font-family: $serif;
  line-height: 1.5;
  font-size: 16px;
  @include pie-clearfix;
  .portrait-wrap {
    margin-bottom: 3em;
    @include border-radius(100%);
    .portrait {
      display: block;
      max-width: 200px;
      margin: {
        bottom: -3em;
        left: auto;
        right: auto;
      }
      @include border-radius(inherit);
      @include box-sizing(border-box);
      border: solid 15px $black;
      @include screen-narrow {
        margin:{left: auto; right: auto;}
        border-width: 10px;
        max-width: 150px;
      }
    }
  }
  .intro {
    font-size: 1.8em;
    font-family: $sans-serif;
    color: $black;
    line-height: 1.2;
    @include screen-narrow {
      font-size: 1.5em;
    }
  }
  h2 {
    font-size: 1.5em; font-family: $sans-serif;
    color: $black;
    line-height: 1.2;
    margin:{top: 1.4em; bottom: 1em;}
    @include screen-narrow {
      font-size: 1.25em;
    }
  }
  .hr {
    height: 15px;
    background-color: $black;
    @include screen-narrow {
      height: 10px;
    }
  }
  p {
    margin: {
      top: 0;
      bottom: 1em;
    }
  }
  .skills {
    margin-bottom: 2em;
  }
  .contact {
    @include pie-clearfix;
    .info {
      @include pie-clearfix;
      float: left;
      width: 40%;
      margin-top: 0;
      @include screen-narrow {
        width: auto; float: none;
      }
    }
    .links {
      @include pie-clearfix;
      float: left;
      width: 40%;
      margin-left: 20%;
      a {
        text-decoration: none;
        color: $black;
        border-bottom: solid 3px transparent;
        @include transition(border-color .3s ease-out);
        &:hover {
          border-bottom-color: $black;
          @include transition(none);
        }
        &:after {
          content: " \BB";
          color: $primary-color;
        }
      }
      @include screen-narrow {
        width: auto;
        float: none;
        margin-left: 0;
      }
    }
  }
}